nacos鉴权

I turn on nacos auth for nacos server, and let the Microservice in nacos client send request to nacos server. nacos server throws AccessException which is "token invalid!"  when running to RemoteRequestAuthFilter.java, so why happens this and how to solve?

The detailmessage about AccessException is:
"The verification key's size is 408 bits which is not secure enough for the HS512 algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS512 MUST have a size >= 512 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS512)' method to create a key guaranteed to be secure enough for HS512.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information."


> I turn on nacos auth for nacos server, and let the Microservice in nacos client send request to nacos server. nacos server throws AccessException which is "token invalid!" when running to RemoteRequestAuthFilter.java, so why happens this and how to solve?
> 
> The detailmessage about AccessException is: "The verification key's size is 408 bits which is not secure enough for the HS512 algorithm. The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS512 MUST have a size >= 512 bits (the key size must be greater than or equal to the hash output size). Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS512)' method to create a key guaranteed to be secure enough for HS512. See https://tools.ietf.org/html/rfc7518#section-3.2 for more information."

I found the reason. When verifying the token on the nacos server, the token can be can get through the key "Authorization" or "accessToken" in the request. The priority is to get the token from the "Authorization" key. If the token cannnot be got,  then get the token  from the "accessToken" . And I add the my token in the "Authorization" in request header, so the token is invalid. So I suggest that it is best not to add "Authorization"  to the request header


It seems not nacos' problem, the request is from client to nacos server, token can "Authorization" or "accessToken", you inject your token to "Authorization" by yourself, you should change the server behavior by yourself and not submit to community, beacuse the problem is your one problem

Well, it seems that your token was not generated by nacos. 

Your token sign with HS512, but you secret key has only **408** bits.

Make sure your nacos property `nacos.core.auth.plugin.nacos.token.secret.key` is a base64 encoded string.